<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.tc002.focus-emqx</string>
  <key>ProgramArguments</key>
  <array>
    <string>__EMQX_BIN__</string>
    <string>foreground</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__EMQX_HOME__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>EMQX_LISTENERS__TCP__DEFAULT__BIND</key>
    <string>__LAN_HOST__:1883</string>
    <key>EMQX_LISTENERS__TCP__LOCAL__BIND</key>
    <string>127.0.0.1:1884</string>
    <key>EMQX_NODE__DATA_DIR</key>
    <string>__DATA_DIR__</string>
    <key>EMQX_DASHBOARD__LISTENERS__HTTP__BIND</key>
    <string>127.0.0.1:18083</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>StandardOutPath</key>
  <string>__LOG_DIR__/emqx.log</string>
  <key>StandardErrorPath</key>
  <string>__LOG_DIR__/emqx.err.log</string>
</dict>
</plist>
